<h2>Usuario:</h2>
<form>
<mat-form-field appearance="outline" style="width: 25%;">
  <mat-label>Nombre</mat-label>
  <input matInput placeholder="Nombre" [(ngModel)]="usuario.username" name="username" style="text-align: center">
</mat-form-field>
<br>
<mat-form-field appearance="outline" style="width: 25%;">
  <mat-label>Rol</mat-label>
  <mat-select [(ngModel)]="selectedRol" name="rol" style="text-align: center">
    <mat-option *ngFor="let rol of roles" value="{{rol.name}}" style="text-align: center">{{rol.name}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput placeholder="*******" type="text" [(ngModel)]="usuario.password" name="password">
</mat-form-field>
<br>
<button mat-button (click)="saveUser()" >Guardar cambios</button>
<button mat-button (click)="goBack()">Volver</button>
</form>