<h2>Espectaculo:</h2>

<form>
    <mat-form-field appearance="outline" style="width: 25%;">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" [(ngModel)]="espectaculo.nombre" name="nombre" style="text-align: center">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" style="width: 25%;">
        <mat-label>Link para la compra de entradas</mat-label>
        <input matInput placeholder="Link" [(ngModel)]="espectaculo.linkCompra" name="linkCompra" style="text-align: center">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" style="width: 25%;">
        <mat-label>Establecimiento</mat-label>
        <mat-select [(ngModel)]="selectedEstab" name="establecimiento" style="text-align: center">
          <mat-option *ngFor="let estab of establecimientos" value="{{estab.id}}" style="text-align: center">{{estab.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <div class="form-group">
        <label for="file">Imagen del espectaculo</label>
        <input type="file" id="file" #file (change)="handleFileInput($event.target.files)">
    </div>
    <br>
    <img src="{{(imageLink$ | async)}}"/>
</form>

<mat-tab-group>
<mat-tab label="Funciones">
  <div *ngFor="let funcion of espectaculo.funciones">
  <mat-card>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Fecha de la funcion" [(ngModel)]="funcion.fecha" name="fecha" style="text-align: center">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hora</mat-label>
        <input matInput placeholder="Hora" [(ngModel)]="funcion.hora" name="hora" style="text-align: center">
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Artista</mat-label>
          <input matInput placeholder="Artista" [(ngModel)]="funcion.artista" name="artista" style="text-align: center">
      </mat-form-field>
      <button mat-button (click)="editSetList(funcion)">Editar listado de canciones</button>
      <button mat-button (click)="deleteFuncion(funcion)" style="background-color: red;">X</button>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Link a imagen</mat-label>
        <input matInput placeholder="Link" [(ngModel)]="funcion.imagenRef" name="imagenRef" style="text-align: center">
      </mat-form-field>
  </mat-card>
  </div>
  <br>
  <button mat-button (click)="addFuncion()">Agregar funcion</button>
</mat-tab>
<mat-tab label="Comercios">
  <div *ngFor="let comercio of espectaculo.comercios">
      <mat-card>
          <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" [(ngModel)]="comercio.nombre" name="nombreComercio" style="text-align: center">
          </mat-form-field>
          <mat-form-field appearance="outline">
          <mat-label>Link a imagen</mat-label>
            <input matInput placeholder="Link" [(ngModel)]="comercio.imagenRef" name="imagenRefComercio" style="text-align: center">
          </mat-form-field>
          <button mat-button (click)="deleteComercio(comercio)" style="background-color: red;">X</button>
          <br>
          Posicion:
          <mat-form-field appearance="outline">
          <mat-label>Latitud</mat-label>
            <input matInput placeholder="Latitud" type="number" [(ngModel)]="comercio.posicion.latitud" name="latitudComercio" style="text-align: center">
          </mat-form-field>
          <mat-form-field appearance="outline">
          <mat-label>Longitud</mat-label>
            <input matInput placeholder="Longitud" type="number" [(ngModel)]="comercio.posicion.longitud" name="longitudComercio" style="text-align: center">
          </mat-form-field>
          <br>
          <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let item of comercio.productos" style="margin-bottom: 2%">
                  <mat-form-field appearance="outline">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Nombre" [(ngModel)]="item.nombre" name="nombre" style="text-align: center">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Precio</mat-label>
                      <input matInput placeholder="Precio" type="number" [(ngModel)]="item.precio" name="precio" style="text-align: center">
                  </mat-form-field>
                  <button mat-button (click)="deleteItem(item, comercio)" style="background-color: red;">X</button>
              </mat-list-item>
        </mat-list>
        <button mat-button (click)="addItem(comercio)">Agregar producto</button>
        </mat-card>
  </div>
  <button mat-button (click)="addComercio()">Agregar comercio</button>    
</mat-tab>
</mat-tab-group>
<br><br>
<button mat-button (click)="saveEspectaculo()">Guardar cambios</button>
<button mat-button (click)="deleteEspectaculo()">Eliminar espect&aacute;culo</button>
<button mat-button (click)="goBack()">Volver</button>