.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-card {
  background: #3f51b5;
  color: white;
  position: absolute;
  bottom: 0;
}

button {
  background: gray;
}
